@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

/* css roots */
:root {
	--header-height: 4rem;
	--font-semi: 600;
}

/* colors */
:root {
	--first-color: #fb3640;
	--second-color: #0e2431;
	--opt-color: #000;
}

/* fonts */
:root {
	--body-font: "Poppins", sans-serif;
	--big-font-size: 3rem;
	--h2-font-size: 2rem
	--medium-font-size: 1.2rem;
	--normal-font-size: 1rem;
}

@media screen and (max-width: 768px) {
	:root {
		--big-font-size: 2rem;
		--h2-font-size: 1.5rem;
		--medium-font-size: 1rem;
		--normal-font-size: 0.938rem;
	}
}

/* margins */
:root {
	--mb-1: 0.5rem;
	--mb-2: 1rem;
	--mb-3: 1.5rem;
	--mb-4: 2rem;
	--mb-5: 2.5rem;
	--mb-6: 3rem;
}

/* z-index */
:root {
	--z-back: -10;
	--z-normal: 1;
	--z-tooltip: 10;
	--z-fixed: 100;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: 16px;
	font-family: var(--body-font);
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav {
	height: var(--header-height);
	padding: 0 50px;
	box-shadow: 0px 1px 20px lightgrey;

	.logo {
		width: 100px;
	}

	.menu {
		display: inline-flex;
		list-style: none;

		.items {
			padding: 15px;

			.link {
				text-decoration: none;
				color: var(--opt-color);
				font-size: var(--medium-font-size);
			}
		}
	}

	button {
		padding: 10px 15px;
		text-decoration: none;

		.chat-btn {
			text-decoration: none;
		}
	}
}
